:root {
  --blue-key: blue
  --primary-key: #4E514E;
  --secondary-key: #666666;
  --third-key: #A5ABA0;
  --fourst-key: #DBDDD0;
}

.container__nav {
  display: flex;
  padding: 1.3rem;
  justify-content: left;
  background-color: #A5ABA0;
}

.container__nav img {
  margin: 0 10% 0 10%;
}
