<main>
  <div class="image">
    <h2>Car Store</h2>
    <div class="image__car">
      <div *ngFor="let cars of carStore">
        <img
          src={{cars.imagem}}
          alt="Audi Q7 2021"
        />
        <div class="content">
          <h3>Marca: {{cars.marca}}</h3>
          <h4>Modelo: {{cars.modelo}}</h4>
          <div class="image__button">
            <button class="image__button__content" (click)="handleButton(cars.id)">{{cars.modelo}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
