<main>
  <div class="image">
    <div class="image__car">
      <img src="https://www.planetcarsz.com/assets/uploads/2021/05/AUDI%20Q7%20COMPETITION%20PLUS%202022%2001.jpg" alt="Audi Q7 2021">
    </div>
    <div class="image__car">
      <img src="https://www.planetcarsz.com/assets/uploads/2021/05/AUDI%20Q7%20COMPETITION%20PLUS%202022%2001.jpg" alt="Audi Q7 2021">
    </div>
    <div class="image__car">
      <img src="https://www.planetcarsz.com/assets/uploads/2021/05/AUDI%20Q7%20COMPETITION%20PLUS%202022%2001.jpg" alt="Audi Q7 2021">
    </div>
    <div class="image__car">
      <img src="https://www.planetcarsz.com/assets/uploads/2021/05/AUDI%20Q7%20COMPETITION%20PLUS%202022%2001.jpg" alt="Audi Q7 2021">
    </div>
  </div>
</main>
