main {
  margin: 1.2rem;
}

.image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.image__car {
  background-color: #DBDDD0;
  border-radius: 0px 0px 12px 12px;
}

.image__car img {
  width: 35rem;
  height: auto;
  margin: 0.4rem;
  max-width: 420px;
}

.content {
  margin-left: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .image__car img {
    width: 97%;
    height: auto;
  }
}
